:root {
  --black: #000000;
  --livid-brown: #292524;
  --pantone: #0E5AF2;
  --white: #ffffff;
  --royal-blue: #071A3E;

  --primary-color: #071A3E;
  --secondary-color: #ffffff;

  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 36px;
  --font-size-m-xxl: 40px;
  --font-size-xxxl: 48px;
  --font-size-m-IVxl: 32px;
  --font-size-IVxl: 34px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --line-height-s: 10px;
  --line-height-m: 16px;
  --line-height-l: 19px;
  --line-height-xl: 20px;
  --line-height-xxl: 22px;
  --line-height-m-xxl: 24px;
  --line-height-xxxl: 26px;
  --line-height-m-IVxl: 27px;
  --line-height-IVxl: 29px;
  --line-height-Vxl: 49px;
  --line-height-VIxl: 59px;
  --line-height-m-VIxl: 60px;

  --container-max-width: 1280px;

  --font-family-inter: 'Inter', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif;

  --btn-bg-primary: #071A3E;
  --btn-bg-secondary: #ffffff;
  --btn-color-primary: #fff;
  --btn-color-secondary: #071A3E;

}

/* Basic Styling */
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: var(--livid-brown);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: var(--font-weight-light);
  text-align: left;
  background-color: var(--white);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* TYPOGRAPHY */
div {
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-light);
  -webkit-text-size-adjust: none;
  font-style: normal;
}

h1 {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  line-height: var(--line-height-VIxl);
}

h2 {
  color: var(--livid-brown);
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-m-xxl);
  font-style: normal;
  line-height: var(--line-height-VIxl);
}

h3 {
  color: var(--livid-brown);
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  line-height: var(--line-height-Vxl);
}

h4 {
  color: var(--livid-brown);
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  line-height: var(--line-height-IVxl);
}

h5 {
  color: var(--white);
  color: var(--faux-cg-blue);
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  line-height: 28px;
}

h6 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  line-height: 24px;
}

a {
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-l);
  display: contents;
  text-decoration: none;
  font-style: normal;
  color: var(--white);
}

p {
  color: var(--livid-brown);
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  line-height: var(--line-height-l);
}

table {
  width: 100%;
}

/* FORMS AND BUTTONS */
input {
  background-color: var(--white);
  color: var(--black);
  outline: none;
}

textarea {
  background-color: var(--white);
  color: var(--black);
  outline: none;
}

/* Responsive images */
img {
  width: 100%;
  height: auto;
}